<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dang nhap</title>
  </head>
  <body>
    <form action="/xulydangky" method="post">
      <input type="text" name="username" placeholder="username"/>
      <br><br>
      <input type="password" name="password" placeholder="password"/>
      <br><br>
      <input type="text" name="phone" placeholder="phone"/>
      <br><br>
      <input type="text" name="image" placeholder="image"/>
      <br><br>
      <input type="submit" value="Dang ky"/>
    </form>
  </body>
</html>
