<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trang chu</title>
  </head>
  <body>
    <a href="/dangky">Dang ky</a><br>
    <a href="/dangnhap">Dang nhap</a><br>
    <a href="/giaodich">Giao dich</a><br>
  </body>
</html>
